<div class="search">
    <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#searchModal" nw-hotkey="cmd+k|s|и">
        <span class="icon-search fs-3"></span>
        <span class="d-xl-none"><%= l('searchBtn', $l) %></span>
    </button>
</div>
