.nwe-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  > main {
    flex: 1 1;
    overflow: auto;

    .list-group-item {
      position: relative;
      div.value {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        &.disabled {
          opacity: 0.36;
        }
      }
      &.has-change {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 1rem;
          background-image: linear-gradient(to right, var(--bs-warning), rgba(0, 0, 0, 0));
        }
      }
    }
  }
  > aside {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1;
    }
    select {
      option {
        white-space: break-spaces;
      }
    }
    section.nw-editor {
      flex: 0 1 max-content;
      overflow: scroll;
    }
  }
  .form-label, .form-check-label {
    margin: 0;
    font-weight: bold;
  }
  .form-check-input + .form-check-label,
  .form-check-label + .form-check-input,
  .form-label + span,
  .form-label + i{
    margin-left: 1rem;
  }
  .form-switch {
    &.form-switch-end {
      padding-left: 0;
      .form-check-label {
        margin-left: 0;
      }
      .form-check-input {
        float: none;
      }
    }
  }
}
.nwe-footer {
  justify-content: space-between !important;
  button[type="submit"], button[type="reset"] {
    opacity: .6;
    cursor: not-allowed !important;
  }
  &.has-changes {
    button[type="submit"], button[type="reset"] {
      opacity: 1;
      cursor: pointer !important;
    }
  }
}
.nwe-tree {
  .list-group {
    margin-top: .5rem;
  }
}

@media(min-width: 48rem) {
  .nwe-body {
    flex-direction: row;
    > main {
      max-width: 50%;
    }
    > aside {
      max-width: 50%;
    }
  }
}