node_modules/
# no need to store every change of the css, scss is the source
/static/css/index.css
/static/css/index.css.map
/static/css/*/
# public javascript
/static/js/
# no need to store rendered search, .yaml files are source
/static/search/
/static/search.json
# no need to store sitemaps, .yaml files are source
/static/sitemap.xml
/static/sitemaps/
# no need to store translations, .yaml > $l files data are source
/static/translation.*
/static/robots.txt

/logs/
/nano/
/.nw/
.env
# too many images for the git repository
/static/thumb/
# no need to store module's information if it can be taken from the sources
/static/modules/

/dist/
/user/